tchmi-content-tabs {
    background: #1e1e1e;
}

tchmi-content-tabs tchmi-tab-contents {
    border: 1px solid #444;
    border-top: none;
    background: black;
}

tchmi-content-tabs tchmi-tab-links tchmi-tab-link {
    color: #4c6374;
    border-bottom: 1px solid #444;
}

tchmi-content-tabs tchmi-tab-links tchmi-tab-link[active] {
    background: black;
    color: #4794da;
    border: 1px solid #444;
    border-bottom: none;
}

tchmi-content-tabs tchmi-tab-links > tchmi-tab-link:hover {
    background: black;
}
